#main-window{
	position: absolute;
	top: 0%;
}

#message-box{
	position: relative;
	left:50%;
	bottom:0%;
}

#message-log{
	overflow: scroll;
	width: 30%;
	height: 20%;
}

#console-button {
	width: 20px;
	height: 20px;
	position: relative;
	bottom: 0%;
	left: 0%;
}
