<!doctype html>

<html>
	<!-- SocketIO library for talking to the server -->
	<script src='/static/libs/socket.io-1.4.5.js'></script>
	<!-- PixiJS for 2D HTML5/WebGL rendering with fallbacks-->
	<script src='/static/libs/pixi.min-4-3-4.js'></script>
	<!-- jquery just to make DOM element access easier -->
	<script src='/static/libs/jquery-3.1.1.js'></script>

	<link rel='stylesheet' type='text/css' href='/static/css/main.css' />


<head>
  <title>AberWebMUD Web Client</title>
</head>

<body>

	<div id='main-window'>
		<div id='message-window'>
			<textarea id='message-log' disabled='true'></textarea>
			<input type='text' id='message-input'>
			<input type='password' id='password-input'>
			<input type='submit' id='send-message-button' value='Send'>
		</div>

		<div class='dialog' id='inventory-window'>
			<table>
				<thead class='tHeader'><tr>	<th>Name</th> 						<th>Value</th> 	<th>Info</th> 				<th>Drop</th>  									</tr></thead>
				<tr class="inventoryItem">	<td> Broken Sword </td>		<td> 0 </td> 		<td><button>Info</button></td> <td> <button>Drop</button> </td></tr>
				<tr class="inventoryItem">	<td> Broken Sword </td>		<td> 0 </td> 		<td><button>Info</button></td> <td> <button>Drop</button> </td></tr>
				<tr class="inventoryItem">	<td> Broken Sword </td>		<td> 0 </td> 		<td><button>Info</button></td> <td> <button>Drop</button> </td></tr>
				<tr class="inventoryItem">	<td> Broken Sword </td>		<td> 0 </td> 		<td><button>Info</button></td> <td> <button>Drop</button> </td></tr>
				<tr class="inventoryItem">	<td> Broken Sword </td>		<td> 0 </td> 		<td><button>Info</button></td> <td> <button>Drop</button> </td></tr>
				<tr class="inventoryItem">	<td> Broken Sword </td>		<td> 0 </td> 		<td><button>Info</button></td> <td> <button>Drop</button> </td></tr>
				<tr class="inventoryItem">	<td> Broken Sword </td>		<td> 0 </td> 		<td><button>Info</button></td> <td> <button>Drop</button> </td></tr>
				<tr class="inventoryItem">	<td> Broken Sword </td>		<td> 0 </td> 		<td><button>Info</button></td> <td> <button>Drop</button> </td></tr>
				<tr class="inventoryItem">	<td> Broken Sword </td>		<td> 0 </td> 		<td><button>Info</button></td> <td> <button>Drop</button> </td></tr>
				<tr class="inventoryItem">	<td> Broken Sword </td>		<td> 0 </td> 		<td><button>Info</button></td> <td> <button>Drop</button> </td></tr>
				<tr class="inventoryItem">	<td> Broken Sword </td>		<td> 0 </td> 		<td><button>Info</button></td> <td> <button>Drop</button> </td></tr>
				<tr class="inventoryItem">	<td> Broken Sword </td>		<td> 0 </td> 		<td><button>Info</button></td> <td> <button>Drop</button> </td></tr>
				<tr class="inventoryItem">	<td> Broken Sword </td>		<td> 0 </td> 		<td><button>Info</button></td> <td> <button>Drop</button> </td></tr>
				<tr class="inventoryItem">	<td> Broken Sword </td>		<td> 0 </td> 		<td><button>Info</button></td> <td> <button>Drop</button> </td></tr>
				<tr class="inventoryItem">	<td> Broken Sword </td>		<td> 0 </td> 		<td><button>Info</button></td> <td> <button>Drop</button> </td></tr>
				<tr class="inventoryItem">	<td> Broken Sword </td>		<td> 0 </td> 		<td><button>Info</button></td> <td> <button>Drop</button> </td></tr>
				<tr class="inventoryItem">	<td> Broken Sword </td>		<td> 0 </td> 		<td><button>Info</button></td> <td> <button>Drop</button> </td></tr>
				<tr class="inventoryItem">	<td> Broken Sword </td>		<td> 0 </td> 		<td><button>Info</button></td> <td> <button>Drop</button> </td></tr>
				<tr class="inventoryItem">	<td> Broken Sword </td>		<td> 0 </td> 		<td><button>Info</button></td> <td> <button>Drop</button> </td></tr>
				<tr class="inventoryItem">	<td> Broken Sword </td>		<td> 0 </td> 		<td><button>Info</button></td> <td> <button>Drop</button> </td></tr>
				<tr class="inventoryItem">	<td> Broken Sword </td>		<td> 0 </td> 		<td><button>Info</button></td> <td> <button>Drop</button> </td></tr>
				<tr class="inventoryItem">	<td> Broken Sword </td>		<td> 0 </td> 		<td><button>Info</button></td> <td> <button>Drop</button> </td></tr>
			</table>
		</div>

		<div class='dialog' id='stat-window'>
			<p class='classLabel'>Character Name</p>
			<p class='classLabel'>Character Class</p>

			<table id='stat-table'>
				<tr>	<th>Attributes</th> <th></th> </tr>
				<tr>	<td> STRENGTH </td>		<td> 	<input class='attrVal' type='number' id='strNumber'> </td> </tr>
				<tr>	<td> DEX </td>		<td> 	<input class='attrVal' type='number' id='dexNumber'> </td> </tr>
				<tr>	<td> CON </td>		<td> 	<input class='attrVal' type='number' id='conNumber'> </td> </tr>
				<tr>	<td> INT </td>		<td> 	<input class='attrVal' type='number' id='intNumber'> </td> </tr>
				<tr>	<td> WIS </td>		<td> 	<input class='attrVal' type='number' id='wisNumber'> </td> </tr>
				<tr>	<td> CHA </td>		<td> 	<input class='attrVal' type='number' id='charNumber'> </td> </tr>
			</table>
		</div>

		<!-- Run our Pixi.JS UI creation and handling script-->
		<script src='/static/client.js'></script>

		</div>

</body>

</html>
