<!doctype html>

<html>
  <link rel='stylesheet' type='text/css' href='/static/css/main.css' />
  <!-- QUnit test library for simple client testing -->
  <link rel="stylesheet" type="text/css" href="https://code.jquery.com/qunit/qunit-2.9.2.css">
  <script src="https://code.jquery.com/qunit/qunit-2.9.2.js"></script>
  <script src='/static/tests.js'></script>

  <head>
    <title>AberWebMUD Tests</title>
  </head>

  <body>
    <div id="qunit"></div>
    <div id="qunit-fixture"></div>
  </body>

</html>
