<!doctype html>

<html>
	<!-- SocketIO library for talking to the server -->
	<script src='/static/libs/socket.io-1.4.5.js'></script>
	<!-- PixiJS for 2D HTML5/WebGL rendering with fallbacks-->
	<script src='/static/libs/pixi.min-4-3-4.js'></script>
	<!-- jquery just to make DOM element access easier -->
	<script src='/static/libs/jquery-3.1.1.js'></script>
  <!-- QUnit test library for simple client testing -->
  <script src='/static/libs/qunit-2.2.1.js'></script>

  <script src='/static/js-files/tests/view-tests.js'></script>

  <!-- Run our Pixi.JS UI creation and handling script-->
  <script src='/static/client.js'></script>

  <link rel='stylesheet' type='text/css' href='/static/css/main.css' />

  <head>
    <title>AberWebMUD Tests</title>
  </head>

  <body>
    <div id="qunit"></div>
    <div id="qunit-fixture"></div>
  </body>

</html>
