#main-window{
	position: absolute;
	top: 0%;
}

#message-window{
	position: absolute;
	left: 0%;
	bottom: 7%;
	height:30%;
	width: 50%;
}

#message-log{
	position: absolute;
	overflow: scroll;
	width: 100%;
	height: 70%;
	top: 0%
}

#message-input{
	position: absolute;
	width: 80%;
	height: 20%;
	bottom:0%;
}

#password-input{
	position: absolute;
	width: 80%;
	height: 20%;
	bottom:0%;
}

#send-message-button {
	position: absolute;
	width: 18%;
	height: 22%;
	bottom:0%;
	right:0%;
}

#console-button {
	width: 5%;
	height: 5%;
	position: relative;
	bottom: 0%;
	left: 0%;
}

#context-buttons {
	top: 0%;
}


#inventory-window{
	overflow: scroll;
}

.inventoryItem:hover{
	background-color: grey;
	color: white;
}

#stat-window{
	overflow: scroll;
}

#statTable,td {
	border-style: solid;
	border-color: black;
	border-width: 1px;
}

#stats-info {
	position: absolute;
	overflow: scroll;
	width: 70%;
	height: 10%;
}

.thead{
	table-layout: fixed;
}

#th{
	border-style: solid;
	border-color: red;
	border-width: 1px;
}

.dialog {
	position: absolute;
	background-color: white;

	padding: 1%;

	border-style: solid;
	border-color: black;
	border-width: 2px;
	left:15%;
	top:5%;
	width:60%;
	height:50%;
}

.attrText {
	width:50%;
}
