#main-window{
	position: absolute;
	height:100%;
	width: 100%;
	top: 0%;
	z-index: 0;
}

#pixi-renderer{
	position: absolute;
	height: 75%;
	width: 75%;
	top: 0%;
	z-index: 1;
}

#message-window{
	position: absolute;
	left: 0%;
	bottom: 7%;
	height:30%;
	width: 50%;
	z-index: 2;
}

#message-log{
	position: absolute;
	overflow: scroll;
	width: 100%;
	height: 70%;
	top: 0%;
	z-index: 2;
}

#message-input{
	position: absolute;
	width: 80%;
	height: 20%;
	bottom:0%;
	z-index: 2;
}

#password-input{
	position: absolute;
	width: 80%;
	height: 20%;
	bottom:0%;
	z-index: 2;
}

#send-message-button {
	position: absolute;
	width: 18%;
	height: 22%;
	bottom:0%;
	right:0%;
	z-index: 2;
}

#console-button {
	width: 5%;
	height: 5%;
	position: relative;
	bottom: 0%;
	left: 0%;
	z-index: 2;
}

#context-buttons {
	top: 0%;
	z-index: 2;
}


#inventory-window{
	overflow: scroll;
	z-index: 2;
}

.inventoryItem:hover{
	background-color: grey;
	color: white;
}

#stat-window{
	overflow: scroll;
	z-index: 2;
}

#statTable,td {
	border-style: solid;
	border-color: black;
	border-width: 1px;
}

#stats-info {
	position: absolute;
	overflow: scroll;
	width: 60%;
	height: 14%;
}

#save-stats-button {
	position: absolute;
	width : 15%;
	height : 10%;
	right : 2%;
	bottom : 2%;
}

.thead{
	table-layout: fixed;
}

#th{
	border-style: solid;
	border-color: red;
	border-width: 1px;
}

.dialog {
	position: absolute;
	background-color: white;

	padding: 1%;

	border-style: solid;
	border-color: black;
	border-width: 2px;
	left:15%;
	top:5%;
	width:60%;
	height:50%;
}

textarea {
	resize: none;
}

.attrText {
	width:50%;
}
